.navback {
    background-color: deeppink;
}

.petartback {
    background-color: pink;
}

.uwmsecback {
    background-color: greenyellow;
}

.artuwmback {
    background-color: khaki;
}

.uwmnav {
    background-color: darkcyan;
}